{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, меня зовут Мария Тумилович.</h1>
<p>
    В данный момент я обучаюсь на Python разработчика в Яндексе (я уже имею базовые знания написания кода на Python и SQL(учусь около года помимо текущего курса), работала с Git, знаю принципы ООП, изучаю сейчас HTML, Django). 
    До этого в этом году прошла два курса по повышению квалификации: аналитик данных и тестировщик ПО. 
    В сфере тестирования имею опыт функционального и нефункционального тестирования сайтов, написания чек-листов, тест-кейсов, баг-репортов и отчётов по проведенному тестированию, а также имею опыт проведения автотестов с помощью Selenium IDE, написанию базовых запросов на SQL. 
    В сфере аналитики данных работала на Python с различными библиотеками для машинного обучения(numpy, scipy, sklearn, seaborn, pandas) в google.collaboratory и в knime.

    Ссылка на мой github: https://github.com/khamaran
</p>
{% endblock %} 